@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.review-card {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  margin: 1.6rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1.6rem;

  @include tablet {
    max-width: 102rem;
  }

  &__wrapper {
    @include tablet {
      max-width: 102rem;
      margin: 0 auto;
    }
  }

  &__rating {
    @include h3-styles;
    line-height: 3rem;
    padding: 1.6rem 0;

    @include tablet {
      line-height: 3rem;
      padding: 1.6rem 0;
    }
  }

  &__data {
    display: flex;
    justify-content: space-between;
  }

  &__key {
    @include h4-styles;
  }

  &__container {
    display: flex;
    padding-top: 1.6rem;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      max-width: 102rem;
    }
  }

  &__data-container {
    // min-width: 25rem;

    @include tablet {
      width: 70%;
      height: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 25rem;
    border-radius: 5px;
    margin-top: 1.6rem;

    &-container {
      padding-top: 1.6rem;
      @include h4-styles;
    }
  }
  &__experience {
    @include h3-styles;
    background-color: $secondary-contrast;
    border-radius: 5px;
    @include tablet {
      width: 100%;

      padding: 0 1.6rem;
      margin-left: 1.6rem;
    }
  }
}
