@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.review-card {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  margin: 1.6rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1.6rem;

  @include tablet {
    max-width: 102rem;
  }

  &__wrapper {
    @include tablet {
      max-width: 102rem;
      margin: 0 auto;
    }
  }

  &__title {
    @include logo-style;
    color: $dark-green;
    padding-bottom: 1.6rem;
  }

  &__rating {
    @include h3-styles;
    line-height: 3rem;
    padding: 1.6rem 0;

    @include tablet {
      line-height: 3rem;
      padding: 0;
    }

    &-container {
      background-color: $light-green;
      border-radius: 5px;
      padding: 1.6rem;
      margin-top: 1.6rem;
    }
  }

  &__data {
    display: flex;
    justify-content: space-between;
  }

  &__key {
    @include h4-styles;
  }

  &__container {
    display: flex;
    padding-top: 1.6rem;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      max-width: 102rem;
      min-height: 30rem;
    }
  }

  &__data-container {
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 27rem;
    }
  }

  &__img-rating-wrapper {
    width: 100%;
    height: 27rem;
  }

  &__image {
    width: 100%;
    max-height: 30rem;
    border-radius: 5px;
    margin-bottom: 1.6rem;
    object-fit: cover;

    @include tablet {
      margin: 0;
      min-height: 27rem;
      margin-top: 1.6rem;
    }

    &-container {
      padding-top: 1.6rem;
      @include h4-styles;
      @include tablet {
        margin: 0;
        padding-left: 1.6rem;
        width: 100%;
        min-height: 27rem;
      }
    }
  }

  &__experience {
    @include h3-styles;
    background-color: $purple;
    border-radius: 5px;
    padding: 1.6rem;
    min-height: 15rem;
    margin-top: 1.6rem;

    @include tablet {
      width: 100%;
      min-height: 27rem;
      padding: 1.6rem;
      margin-left: 1.6rem;
    }

    &-key {
      @include h4-styles;
    }
  }

  &__error {
    padding: 1.6rem;
    max-width: 102rem;
  }
}
