@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.review__title {
  @include logo-style;
  color: $color2;

  &-container {
    padding: 1.6rem;
  }

  @include tablet {
    max-width: 102rem;
    margin: 0 auto;
  }
}

.review-form {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  padding: 1.6rem;
  margin: 1.6rem;
  width: 100%;
  margin: 0 auto;

  @include tablet {
    max-width: 102rem;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1.6rem;
    margin: 1.6rem;
    margin: 0 auto;

    @include tablet {
      max-width: 102rem;
      margin: 0 auto;
    }
  }

  &__label {
    width: 100%;
  }

  &__input {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid $color1;
    background-color: $color6;
    justify-content: start;
    margin-bottom: 0.6rem;
    justify-self: start;
    color: $color3;

    &:focus {
      border: 2px solid $color4;
      outline: red;
    }
  }

  &__select {
    position: relative;
  }

  &__option {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid $color2;
    background-color: $color1;
  }

  &__button {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: none;
    background-color: $color2;
    color: $secondary-text-light;
    margin-top: 1.6rem;

    &:hover {
      background-color: $color4;
    }
  }

  &__input-file {
    display: none;
  }

  &__input--error {
    border: $color5 2px solid;
    animation: shake 0.5s;

    @keyframes shake {
      0%,
      100% {
        margin-left: 0;
      }
      20%,
      80% {
        margin-left: -8px;
      }
      40%,
      60% {
        margin-left: 8px;
      }
    }
  }

  &__label-file {
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }

  &__label-icon {
    display: flex;
    background-color: $color6;
    border: 1px solid $color1;
    border-radius: 5px;
    width: 100%;
    height: 3rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: $color3;
  }

  &__success-message {
    font-size: 1.4rem;
    text-align: center;
    color: $color5;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    margin: 1.6rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 102rem;
    @include tablet {
      max-width: 102rem;
      margin: 0 auto;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: $color2;
    width: 100%;
    height: 3rem;
    background-color: $color6;
    border-radius: 5px;
  }
}

.error-message {
  color: $color5;
  font-size: 1rem;
}
