@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.property-form {
  display: flex;
  flex-direction: column;

  &__label {
    width: 100rem;
  }

  &__input {
    width: 50rem;
  }

  &__button {
    width: 50rem;
  }
}
