@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.agency-details {
  padding: 1.6rem;
  margin: 1.6rem;
  margin: 0 auto;

  @include tablet {
    max-width: 102rem;
    margin: 0 auto;
  }

  &__error {
    margin: 0 auto;
    text-align: center;
    padding: 1.6rem;
    color: $color2;

    @include tablet {
      max-width: 102rem;
      margin: 0 auto;
    }
  }

  &__wrapper {
    padding: 1.6rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    @include tablet {
    }
  }

  &__title {
    @include logo-style;
    color: $color2;
    padding-bottom: 1.6rem;
    margin: 1.6rem;
  }

  &__subtitle {
    @include h2-styles;
    font-weight: 600;
    color: $color3;
    padding-bottom: 1.6rem;
    margin: 1.6rem;
  }

  &__list {
    @include h3-styles;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem;

    @include tablet {
      flex-direction: row;
      width: 100%;
      margin: 0 auto;
    }

    &-item {
      border: 2px solid $color1;
      min-width: 10rem;
      min-height: 3rem;
      padding: 1.6rem;
      margin: 1.6rem;
      text-align: center;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        background-color: $color6;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $color3;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__subtitle {
    @include h3-styles;
    padding: 0;
    margin: 0;
  }
}
