@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.agency-details {
  padding: 1.6rem;
  // margin: 1.6rem;
  margin: 0 auto;

  @include tablet {
    max-width: 102rem;
    margin: 0 auto;
  }

  &__error {
    margin: 0 auto;
    text-align: center;
    padding: 1.6rem;
    color: $error-subtle;

    @include tablet {
      max-width: 102rem;
      margin: 0 auto;
    }
  }

  &__wrapper {
    padding: 1.6rem;
    // margin: 1.6rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    @include tablet {
      margin: 0 auto;
    }
  }

  &__title {
    @include logo-style;
    color: $body-text;
    padding-bottom: 1.6rem;
    margin: 1.6rem;
  }

  &__subtitle {
    @include h2-styles;
    font-weight: 600;
    color: $neutral-5;
    padding-bottom: 1.6rem;
    margin: 1.6rem;
  }

  &__list {
    @include h3-styles;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-direction: row;
      width: 100%;
      margin: 0 auto;
      justify-content: space-evenly;
    }

    &-item {
      // border: 2px solid $primary-border;
      min-width: 10rem;
      max-width: 20rem;
      min-height: 3rem;
      max-height: 30rem;
      padding: 1.6rem;
      margin: 1.6rem;
      text-align: center;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      background-color: $light-blue;

      @include tablet {
        width: 16rem;
        height: 28rem;
      }

      &:hover {
        background-color: $blue;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $neutral-5;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    max-height: 9rem;
    max-width: 15rem;
    object-fit: cover;

    @include tablet {
      width: 100%;
      height: 100%;
      max-height: 9rem;
    }
  }

  &__subtitle {
    @include h2-styles;
    padding-left: 1.6rem;
  }

  &__property-title {
    @include h3-styles;
    padding: 0;
    margin: 1.6rem 0 0 0;
  }

  &__rating {
    margin: 0 auto;
    padding-top: 1.6rem;
  }
}
