@font-face {
  font-family: "Poppins";
  src: url("../../Assets/Fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../Assets/Fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../Assets/Fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gopher";
  src: url("../../Assets/Fonts/Gopher-Heavy.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
