$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// $primary-border: #f7c1bb;
// $primary-background: #885151;
// $primary-text: #353a47;
// $secondary-background: #84b082;
// $secondary-text: #dc136c;
// $secondary-contrast: #fdeeed;
// $secondary-text-light: #ffffff;

$primary-border: #e4fcf9;
$primary-background: #41ead4;
$primary-text: #0c0f0a;
$secondary-background: #e4fcf9;
$secondary-text: #ff206e;
$secondary-contrast: #fbff12;
$secondary-text-light: #ffffff;

$body-text: #636364;
$light-gray: #f7f8fa;
$gray-2: #e7eaf1;
$body-text: #ad91cc;
$purple: #efe1ff;
$purple-2: #e5cdff;
$dark-green: #66b27f;
$green: #b3f5c9;
$green-2: #8bdda6;
$dark-blue: #76c2ff;
$blue: #cee9ff;
$blue-2: #b2ddff;
$icon-gray: #ccd1dd;
$neutral-5: #21272a;
$neutral-4: #4d5358;
$neutral-3: #878d96;
$neutral-2: #919ca9;
$neutral-1: #dde1e6;
$neutral-0: #f7f7f7;
$primary-dark: #070d19;
$primary-light: #3d4656;
$primary-subtle: #868c96;
$error-dark: #e53535;
$error-light: #ff5c5c;
$error-subtle: #ff8080;
$warning-dark: #e5b800;
$warning-light: #fddd48;
$warning-subtle: #fded72;
$success-dark: #05a660;
$success-light: #39d98a;
$success-subtle: #57eba1;
$error: #ff3b3b;
$warning: #ffcc00;
$success: #06c270;
