$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-text-battleshipgray: #878787;
$primary-background-mountbattenpink: #a08794;
$secondary-button-puce: #bb7e8c;
$secondary-hover-thistle: #c9b6be;
$secondary-background-thistle: #d1becf;
$secondary-text-light: #ffffff;
$secondary-text-dark: #111111;

$orchid-pink: #d5afb8;
$lavender-blush: #f1e4e7;
$china-rose: #a25366;

$icterine: #f0ec57;

$color1: #f7c1bb;
$color2: #885151;
$color3: #353a47;
$color4: #84b082;
$color5: #dc136c;
