$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-border: #f7c1bb;
$primary-background: #885151;
$primary-text: #353a47;
$secondary-background: #84b082;
$secondary-text: #dc136c;
$secondary-contrast: #fdeeed;
$secondary-text-light: #ffffff;
