@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

// ::-webkit-scrollbar {
//   width: 2px;
//   height: 2px;
// }
// ::-webkit-scrollbar-button {
//   width: 2px;
//   height: 2px;
// }

.agency-list {
  padding: 1.6rem;
  margin: 1.6rem;

  @include tablet {
    max-width: 102rem;
    margin: 0 auto;
  }

  &__wrapper {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1.6rem;
    @include tablet {
    }
  }

  &__title {
    @include logo-style;
    color: $body-text;
    padding-bottom: 1.6rem;
    margin: 1.6rem;
  }

  &__list {
    @include h2-styles;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.6rem;
    display: flex;
    width: 100%;

    @include tablet {
      flex-direction: row;
      margin: 0 auto;
      justify-content: space-evenly;
      overflow-x: auto;
    }

    &-item {
      // border: 2px solid $primary-border;
      background-color: $light-green;
      min-width: 10rem;
      min-height: 3rem;
      padding: 1.6rem;
      margin: 1.6rem 0;
      text-align: center;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include tablet {
        flex-direction: column;
      }

      &:hover {
        background-color: $light-green-2;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $neutral-5;
    flex-shrink: 0;

    // width: 300px;
    // height: 200px;
    // border-radius: 10px;
    // margin-left: 10px;
  }

  &__rating {
    font-size: 1.4rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      justify-content: flex-end;
    }
  }
}
