@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.agency-list {
  padding: 1.6rem;
  margin: 1.6rem;

  @include tablet {
    max-width: 102rem;
    margin: 0 auto;
  }

  &__wrapper {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1.6rem;
    @include tablet {
    }
  }
  &__title {
    @include logo-style;
    color: $primary-background;
    padding-bottom: 1.6rem;
    margin: 1.6rem;
  }

  &__list {
    @include h2-styles;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.6rem;

    @include tablet {
      flex-direction: row;
      margin: 0 auto;
    }

    &-item {
      border: 2px solid $primary-border;
      min-width: 10rem;
      min-height: 3rem;
      padding: 1.6rem;
      margin: 1.6rem;
      text-align: center;
      border-radius: 5px;
      display: flex;
      flex-direction: column;

      &:hover {
        background-color: $secondary-contrast;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $primary-text;
  }
}
