@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.property-list {
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.6rem;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.6rem;
    max-width: 102rem;
    margin: 0 auto;
  }
}

.property-card {
  border-radius: 5px;
  padding: 1.6rem;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 28rem;
  display: block;
  transition: 0.5s ease;

  @include tablet {
    height: 100%;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
    opacity: 0;
    background-blend-mode: multiply;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  &:hover {
    opacity: 1;
    &:before {
      opacity: 1;
    }
  }

  &__wrapper {
    z-index: 2;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s ease;
    color: $primary-border;
    position: relative;

    &:hover {
      color: $primary-border;
      opacity: 1;
      text-decoration: none;
    }
  }

  &__title {
    text-decoration: none;
    color: $primary-border;

    &:hover {
      color: $primary-border;
      opacity: 1;
      text-decoration: none;
    }
  }

  &__data {
    @include h3-styles;
    font-weight: 500;
    text-decoration: none;
    color: $primary-border;

    &:hover {
      color: $primary-border;
      opacity: 1;
      text-decoration: none;
    }
  }
}
