@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

nav {
  display: flex;
  justify-content: space-evenly;
}

div {
  border: 1px solid #eee;
}

.header-nav {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-around;
  }

  &__home {
    text-decoration: none;
    @include logo-style;
  }

  &__link {
    color: cornflowerblue;
    text-decoration: none;
    border: 2px solid lightblue;
    border-radius: 5px;
    width: 100%;
    padding: 1.6rem;
    @include tablet {
      width: 20rem;
      height: 5rem;
    }
  }
}
