@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.header {
  width: 100%;
  padding: 1.6rem;
}
.header-nav {
  text-decoration: none;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  &__text {
    display: none;
    @include tablet {
      display: flex;
    }
  }
  &__home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 5rem;
    background-color: $secondary-text-light;
    border-radius: 5px;
    border: 2px solid $color2;
    @include logo-style;
    padding: 1.6rem;
    font-size: 1.8rem;

    &:hover {
      background-color: $color4;
      color: $secondary-text-light;
      border: none;
    }

    @include tablet {
      min-width: 10rem;
      max-width: 30rem;
      height: 10rem;
      width: 80%;
      margin-right: 1.6rem;
    }

    &-link {
      text-decoration: none;
      color: $color1;

      &:hover {
        background-color: $color4;
        color: $secondary-text-light;
        border: none;
      }
    }

    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 6rem;
    }
  }

  &__agents {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: $secondary-text-light;
    border: 2px solid $color2;
    border-radius: 5px;
    width: 25%;
    height: 5rem;
    padding: 1.6rem;

    &:hover {
      background-color: $color4;
      color: $secondary-text-light;
      border: none;
    }

    @include tablet {
      min-width: 10rem;
      max-width: 30rem;
      height: 10rem;
      width: 80%;
      margin-right: 1.6rem;
    }

    &-link {
      text-decoration: none;
      color: $color1;

      &:hover {
        background-color: $color4;
        color: $secondary-text-light;
        border: none;
      }
    }

    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 6rem;
    }
  }

  &__newlisting {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-text-light;
    border: 2px solid $color2;
    border-radius: 5px;
    width: 25%;
    height: 5rem;
    padding: 1.6rem;

    &:hover {
      background-color: $color4;
      color: $secondary-text-light;
      border: none;
    }

    @include tablet {
      min-width: 10rem;
      max-width: 30rem;
      height: 10rem;
      width: 80%;
      margin-right: 1.6rem;
    }

    &-link {
      text-decoration: none;
      color: $color1;

      &:hover {
        background-color: $color4;
        color: $secondary-text-light;
        border: none;
      }
    }

    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 6rem;
    }
  }

  &__login {
    background-color: $secondary-text-light;
    border: 2px solid $color2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 25%;
    height: 5rem;
    padding: 1.6rem 0;
    margin: 0;
    color: $color1;

    &:hover {
      background-color: $color4;
      color: $secondary-text-light;
      border: none;
    }

    @include tablet {
      min-width: 10rem;
      max-width: 30rem;
      height: 10rem;
      width: 80%;
    }

    &-icon {
      display: flex;
      justify-content: center;
      font-size: 6rem;
    }
  }
}
