@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.header {
  width: 100%;
  padding: 1.6rem;
}
.header-nav {
  text-decoration: none;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  &__home {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: $secondary-button-puce;
    // border: 2px solid lightblue;
    border-radius: 5px;
    // margin: 0 1.6rem;

    @include logo-style;
    padding: 1.6rem;

    @include tablet {
      min-width: 10rem;
      max-width: 30rem;
      height: 10rem;
    }
    &-link {
      text-decoration: none;
      color: $secondary-text-light;
    }
    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 6rem;
    }
  }

  &__agents {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: $secondary-button-puce;
    // border: 2px solid lightblue;
    border-radius: 5px;
    width: 100%;
    padding: 1.6rem;
    // margin: 0 1.6rem;
    color: $secondary-text-light;

    @include tablet {
      min-width: 10rem;
      max-width: 30rem;
      height: 10rem;
    }

    &-link {
      text-decoration: none;
      color: $secondary-text-light;
    }

    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 6rem;
    }
  }

  &__newlisting {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-button-puce;
    border-radius: 5px;
    width: 100%;
    padding: 1.6rem;
    // margin: 0 1.6rem;
    color: $secondary-text-light;

    @include tablet {
      min-width: 10rem;
      max-width: 30rem;
      height: 10rem;
    }

    &-link {
      text-decoration: none;
      color: $secondary-text-light;
    }
    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 6rem;
    }
  }
  &__login {
    background-color: $secondary-button-puce;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    padding: 1.6rem 0;
    margin: 0;
    color: $secondary-text-light;

    @include tablet {
      min-width: 10rem;
      max-width: 30rem;
      height: 10rem;
    }

    &-icon {
      display: flex;

      justify-content: center;

      font-size: 6rem;
    }
  }
}
