@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.property-details {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;

  @include tablet {
    max-width: 102rem;
    margin: 0 auto;
  }

  &__wrapper {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1.6rem;
  }

  &__title {
    @include logo-style;
    color: $color2;
    padding-bottom: 1.6rem;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }

    &-container {
      width: 100%;
      background-color: $color6;
      border-radius: 5px;
      height: 100%;

      @include tablet {
        margin-left: 1.6rem;
        margin-top: 1.6rem;
        padding-left: 1.6rem;
      }
    }

    &-data {
      display: flex;
      justify-content: space-between;
    }

    &-key {
      display: inline-block;
      min-width: 9rem;
      padding-right: 1.6rem;

      @include tablet {
        display: inline-block;
        min-width: 20rem;
      }
    }

    &-value {
      display: inline-block;
      min-width: 9rem;

      @include tablet {
        display: inline-block;
        min-width: 20rem;
      }
    }
  }

  &__image {
    border-radius: 5px;
    width: 100%;

    @include tablet {
      margin-top: 1.6rem;
    }

    &-container {
      @include tablet {
        width: 100%;
      }
    }
  }
  &__card-title {
    margin-top: 0;
    width: 100%;
  }

  &__key {
    @include h4-styles;
  }

  &__value {
    @include h3-styles;
  }

  &__rating {
    @include h3-styles;
    line-height: 3rem;
    padding: 1.6rem 0;

    @include tablet {
      line-height: 3rem;
      padding: 1.6rem 0;
    }
  }

  &__addreview {
    background-color: $color2;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 1.6rem;

    &:hover {
      background-color: $color4;
    }

    &-button {
      text-decoration: none;
      color: $secondary-text-light;
    }
  }
}
