@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.property-details {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  // background-color: $color1;
  margin: 1.6rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &__title {
    @include logo-style;
    color: $color2;
    padding-bottom: 1.6rem;
  }
  &__card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  &__image {
    border-radius: 5px;
    width: 100%;

    @include tablet {
      width: 25rem;
    }
  }

  &__card-title {
    margin-top: 0;
    width: 100%;
  }

  &__data {
    @include h3-styles;

    &-container {
      border: 1px solid red;
      width: 100%;

      @include tablet {
        padding-left: 1.6rem;
      }
    }
  }

  &__addreview {
    background-color: $color2;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 1.6rem;
    &:hover {
      background-color: $color4;
    }
    &-button {
      text-decoration: none;
      color: $secondary-text-light;
    }
  }
}

.div1 {
  display: inline-block;
  min-width: 7rem;
  @include tablet {
    display: inline-block;
    min-width: 20rem;
  }
}
.div2 {
  display: inline-block;
  min-width: 7rem;
  @include tablet {
    display: inline-block;
    min-width: 20rem;
  }
}

.div3 {
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;

  @include tablet {
  }
}
